

<nav class="navbar navbar-default navbar-fixed-bottom">
  	<div class="container">
	    <ul class="nav navbar-nav">
	        <li><a href="#">About Us</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">FAQ's</a></li>
	    </ul>
  	</div>
</nav>