

<nav class="navbar navbar-fixed-bottom">
  	<div class="container">
	    <ul class="nav navbar-nav">
	        <li><a href="/about" class='white'>About Us</a></li>
			<li><a href="/contact" class='white'>Contact Us</a></li>
			<li><a href="/faq" class='white'>FAQ's</a></li>
	    </ul>
  	</div>
</nav>


