
<%= render "partials/navbar" %>


<h1>Stripe Sign in??</h1><br><br>

    <div>
       <%= link_to image_tag('/assets/images/blue-on-light.png'), user_omniauth_authorize_path(:stripe_connect) %>
    </div>  