
<%= render "partials/navbar" %>

<div class='container'>

	<h1 class='font2 darkGray'>About WeShallGift<span class='highlight'>.</span></h1>
	<hr class='highlight'>

		<h4 class='font3 midGray'>We believe that the entire process of giving someone special a gift should be enjoyable, from the moment you realize the occasion merits a gift, to generating ideas, and finally picking which idea suits the occasion perfectly.</h4><br>

		<h4 class='font3 midGray'><span class='darkGray'><strong>WeShallGift</strong></span> not only makes it easy to bring the relevant people together, but ensures that ideas are seamlessly shared, with each participant able to indicate their preference as to which gift to chose.</h4>

		<br><br><br><br><br><br><br><br><br><br>

<%= render "partials/footer" %>
</div>





