

<%= render "partials/navbar" %>

<div class='container'>

	<h1 class='font2 darkGray'>Contact Us<span class='highlight'>.</span></h1>
	<hr class='highlight'>

		<h4 class='font3 midGray'>We are contstantly trying to improve the service that we offer, should there be feedback or suggestions as to how we can improve, we would love to hear from you!</h4><br>

</div>


<%= render "partials/footer" %>