
<%= render "partials/navbar" %>

<div class='container'>

	<h1 class='font2 darkGray'>Frequently Asked Questions<span class='highlight'>.</span></h1>
	<hr class='highlight'>

		<h3 class='font3 darkGray'>How did WeShallGift come about?</h3>
		<h4 class='font3 lightGray'>After struggling to arrange a group gift, sending numerous emails back and forth, then trying a custom instant messaging group, it all just got a bit messy, and we felt that there must be a better way, thats how the idea for WeShallGift came about!</h4><br>

		<h3 class='font3 darkGray'>Does WeShallGift cost money?</h3>
		<h4 class='font3 lightGray'>No it doesn't, we believe that something as amazing as a thoughtful gift shouldn't cost money. Consider that as one less excuse to arrange that special gift for that special person today!</h4><br>

		<h3 class='font3 darkGray'>Does WeShallGift cost money?</h3>
		<h4 class='font3 lightGray'>No it doesn't, we believe that something as amazing as a thoughtful gift shouldn't cost money. Consider that as one less excuse to arrange that special gift, for that special person, today!</h4><br>

</div>


<%= render "partials/footer" %>