
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
		<a class="btn btn-default navbar-btn pull-right homeBtn navBtn" href="/users/sign_in" role="button">Sign In</a>
		<a class="btn btn-default navbar-btn pull-right homeBtn navBtn" href="/users/sign_up" role="button">Sign Up</a>
  </div>
</nav>


<div class="jumbotron row">
	<div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
		<div>
			  <h1><span class='jumbotext1'>Our.</span><span class='homepageText'>Gift</span></h1>
			  <h3 class='jumbotext1'>Where gift ideas are turned into smiles</h3>
			  <p>OurGift is here to help you and your friends arrange the perfect gift for that special friend. The process is simple, create a group, invite your friends to the group, then vote on the gift ideas that people propose! The final step is enjoying your friends expression as they see what you all got them!</p>
		</div>
	</div>
</div><br><br>

<div class='container'>
	<div class="row">
	  	<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 panel">
		        <h3 class='homepageText'>Find Inspiration</h3>
		        <p>Always struggled with deciding what gift to buy, well between your friends and you, that wont be an issue anymore!</p>
	  	</div>

	  	<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5 panel">
		        <h3 class='homepageText'>Sort out the Details</h3>
		        <p>With a glass jar for each group, the group organizer can seamlessly purchase the perfect gift!</p>
	  	</div>
	</div>		<!-- Row -->


	<div class='row'>
		<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
		  <div class="panel-body">
				<div class='row'>
					<div class='col-xs-4 col-sm-4 col-md-3 col-lg-3 panel'>
						<p><a class="homepageText homeBtn btn btn-primary btn-lg" href="/users/sign_in" role="button">Sign In</a></p>
					</div>
					<div class='col-xs-8 col-sm-8 col-md-9 col-lg-9'>
						<p>Already a user, sign in and see what great gift ideas people have for your next event!</p>
					</div>
				</div>
		  </div>
		</div>

		<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5">
		  <div class="panel-body">
				<div class='row'>
					<div class='col-xs-4 col-sm-4 col-md-3 col-lg-3 panel'>
						<p><a class="homepageText homeBtn btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a></p>
					</div>
					<div class='col-xs-8 col-sm-8 col-md-9 col-lg-9'>
						<p>Create an account in seconds, and start brainstorming a gift idea for an upcoming celebration!</p>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>			<!-- Container -->


<nav class="navbar navbar-default navbar-fixed-bottom">
  	<div class="container">
	    <ul class="nav navbar-nav">
	        <li><a href="#">About Us</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">FAQ's</a></li>
	    </ul>
  	</div>
</nav>





