
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
		<a class="font3 btn btn-default navbar-btn pull-right homeBtn navBtn" href="/users/sign_in" role="button">Sign In</a>
		<a class="font3 btn btn-default navbar-btn pull-right homeBtn navBtn" href="/users/sign_up" role="button">Sign Up</a>
  </div>
</nav>


<div class="jumbotron row">
	<div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
		<div>
			  <h1><span class='font3 white'>We Shall</span><span class='font3 darkGray'>.Gift</span></h1>
			  <h3 class='font2 darkGray'>Where gift ideas are turned into smiles</h3>
			  <p class='font3 white'>WeShallGift is here to help you and your friends arrange the perfect gift for that special friend. The process is simple, create a group, invite your friends to the group, then vote on the gift ideas that people propose!</p>

			  <p class='font3 white'>The final step is enjoying your friends expression as they see what you all got them!</p>
		</div>
	</div>
</div><br><br>






<div class='container'>
	<div class="row">
		  	<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5">
			        <h3 class='font2'>Make It Social!</h3>
			        <p class='font3'>The gift of giving is a process best shared with others, WeShallGift allows you to plan the perfect gift for that special someone.<br>Once you create a new group for the gift occasion, you can easily invite your friends to join, ensuring everyone is upto date with the planning!</p>
		  	</div>

		  	<div id='social' class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5 col-height"></div>
	</div><!-- Row -->


	<div class="row">
		<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5">
		        <h3 class='font2'>More Ideas Make for A Better Gift!</h3>
		        <p class='font3'>Always struggled with ideas on what gift to buy, well WeShallGift makes it easy for anyone in the event group to propose an idea, and even better, all members can vote on which gift they think best suits the occasion!</p>
	  	</div>

	  	<div id='ideas' class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5">
	  	</div>
	</div>		<!-- Row -->


	<div class="row">
		<div class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5">
		        <h3 class='font2'>Sort out the Details</h3>
		        <p class='font3'>With a glass jar for each event, the finances are seamlessly taken care of, with donations made to the gift being held by the group organizer, allowing for the perfect gift to be purchased once its been decided!</p>
	  	</div>

	  	<div id='details' class="panel panel-default col-xs-10 col-xs-offset-1 col-sm-5 col-md-5 col-lg-5">
	  	</div>
	</div>		<!-- Row -->




</div>			<!-- Container -->


<%#= render "partials/footer" %>