
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
        
    <style type="text/css" media="screen">
      		h2 { color: black; font-family: verdana, 'Trebuchet MS'; }
      		h3 { color: #f2b632; font-family: verdana, 'Trebuchet MS'; }
      		h4 { color: gray; font-family: verdana, 'Trebuchet MS'; }
      		hr { color: #b5b5b7; height: 1px; border-top: 1px solid; margin: 1em 0; }

   	</style>
  </head>

  <body>

      <h2>Message Received via WeShallGift site</h2>
      <hr>

          <h3>From:</h3> <h4><%= @from %></h4>
          <h3>Email:</h3> <h4><%= @from_email %></h4>
          <h3>Topic:</h3> <h4><%= @topic %></h4>
          <h3>Content:</h3> <h4><%= @content %></h4>

  </body>
</html>