
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
        
    <style type="text/css" media="screen">
      		h1 { color: #b5b5b7; font-family: verdana, 'Trebuchet MS'; }
      		h3 { color: #f2b632; font-family: verdana, 'Trebuchet MS'; }
      		h5 { color: #677077; font-family: verdana, 'Trebuchet MS'; }
      		p { color: #677077; }
      		hr { color: #b5b5b7; height: 1px; border-top: 1px solid; margin: 1em 0; }

   	</style>

  </head>

  <body>
        <h1>Hi There,</h1>
            <h5>Some friends are looking to arrange a group gift, and they want you to be involved!</h5><br>

            <h5>To be part of it, just follow this link: <a href="hidden-hamlet-51741.herokuapp.com<%= @url %>"> See what your friends are planning!</a> and perhaps even suggest a gift idea of your own!</h5><br>

            <h5>Have a great day!</h5><br><br>

        <hr>
  		<h3>WeShallGift</h3>
  		<h5>Where gift ideas are turned into smiles!</h5>

  </body>
</html>