<h1>Payments#new</h1>
<p>Find me in app/views/payments/new.html.erb</p>


<form action="/payments/create" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_7Xrz5QNBAV1vJCf3hRMBEtKS"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Darraghmonaghan"
    data-description="2 widgets"
    data-zip-code="true"
    data-currency="gbp"
    data-amount="2000"
    data-locale="auto">
  </script>
</form>