
@import "bootstrap-sprockets";
@import "bootstrap";



.jumbotron {
    margin-bottom: 0px;
    background-image: image-url('background.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotext1 {
	color: #252839;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

#jumbotext2 {
	color: #5e0231;
}



.font1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #89bdd3;
	font-weight: bold;
}


.font2 {
	font-family: 'Courgette', cursive;
	font-weight: bold;
	color: #89bdd3;
}

.font3 {
	font-family: 'Lobster Two', cursive;
}


.font4 {
	font-family: 'Droid Sans', sans-serif;
}

.newsfeed1 {
	color: #89bdd3;
}

.newsfeed2 {
	color: #333333;
}





.subheader {
	color: #c9c9c9;
}


.navbar {
	background-color: #e3e3e3;
}


.btn {
	border-color: #89bdd3;
	background: #89bdd3;
	color: white;	
}

.btn:hover {
	background: white;
	border-color: #89bdd3;
	color: #89bdd3;
}


hr {
    height: 1px;
    border-top: 1px solid #89bdd3;
    margin: 1em 0;
}

