
@import "bootstrap-sprockets";
@import "bootstrap";

.alignedButtons {
	display: inline-block;
}


/////////////////////////////////////////// Font styles

.font1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}


.font2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}


.font3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: light;
}



///////////////////////////////////////////// Color styles

.darkGray {
	color: #252839;
}

.midGray {
	color: #677077;
}

.lightGray {
	color: #b5b5b7;
}

.yellow {
	color: #54C9FF;
}

.white {
	color: white;
}

#Gift {
	color: #f2b632;	
}

//////////////////////////////////////////////// highlight featuring

.highlight {
	color: #54C9FF;	
}

hr {
    height: 1px;
    border-top: 1px solid;
    margin: 1em 0;
}

.panel {
	border-radius: 0 0 0 0;
}



///////////////////////////////////////////////////   Navbar

.navbar {
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}

.navBtn {
	margin: 15px 15px 0 0;
}

ul.nav li:hover {
	background-color: #54C9FF;
}

.html.body {
	height: 100%;
	padding-bottom: 70px;
}

.breadcrumb {
	background-color: white;
}

///////////////////////////////////////////////////   Footer

.navbar-fixed-bottom {
	position: fixed;
    height: 50px;
    background-image: image-url('blue.jpg');
}

.nav {
	display:inline-block;
	float: none;
}


///////////////////////////////////////////////////   Buttons

.btn {
	background-color: #54C9FF;
	border-color: #54C9FF;
	color: white;
	border-radius: 0 0 0 0;
}

.btn:hover {
	background-color: white;
	border-color: #54C9FF;
	color: #54C9FF;
}

#deleteGroup {
	background-color: #e62739;
	border-color: #e62739;
	color: white;
	border-radius: 0 0 0 0;	
}

#deleteGroup:hover {
	background-color: white;
	border-color: #e62739;
	color: #e62739;
	border-radius: 0 0 0 0;	
}

#updateGroup {
	background-color: #3fb0ac;
	border-color: #3fb0ac;
	color: white;
	border-radius: 0 0 0 0;	
}

#updateGroup:hover {
	background-color: white;
	border-color: #3fb0ac;
	color: #3fb0ac;
	border-radius: 0 0 0 0;	
}


.addBtn {
	background-color: #1ED862;
	border-color: #1ED862;
	color: white;
	border-radius: 50% 50% 50% 50%;
	margin-top: -7px;
}

.addBtn:hover {
	background-color: rgba(255,255,255,0.0);
	border-color: #1ED862;
	color: #1ED862;
	border-radius: 50% 50% 50% 50%;
	margin-top: -7px;
}


///////////////////////////////////////////////////   Forms

.form-control {
	border-radius: 0 0 0 0;
}








///////////////////////////////////////////////////   Jumbotron

.jumbotron {
    margin-bottom: 0px;
    background-image: image-url('blue.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeBtn {
	background-color: rgba(0,0,0,0);
	border: solid 2px white;
	color: white;
}

.homeBtn:hover {
	background-color: white;
	border: solid 2px white;
	color: #98dafc;
}

///////////////////////////////////////////////////  Homepage - Feature Description

.homepageDescription {
	border: none;
}

.featureDescription {
  font-size: 7ch;
  margin-top: 50px;
  text-align: center;
}


#social {
  background-image: image-url('group-of-friends.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 220px;
}

#ideas {
  background-image: image-url('idea.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 220px;
}

#details {
  background-image: image-url('Jar-of-Money.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 220px;
}


///////////////////////////////////////////////////   group show - Gift Image

#giftImgContainer {
	position: relative;
}

#giftImgDiv {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: 25px;
   margin-left: -25px;
}


///////////////////////////////////////////////////   Gift show & Gift Search

.gift_show_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/////////////////////////////////////////////////////  Contact Us Form

.hidden { display: none; }

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}





/////////////////////////////////////////////////////////////////

.jumbotext1 {
	color: #252839;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

.homepageText {											
	color: #5e0231;
	font-family: 'Courgette', cursive;
	font-weight: bold;
}


.subheader {
	color: #c9c9c9;
}





.newsfeed1 {
	color: #54C9FF;
}

.newsfeed2 {
	color: #333333;
}










