
@import "bootstrap-sprockets";
@import "bootstrap";



.jumbotron {
    margin-bottom: 0px;
    background-image: image-url('background.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotext1 {
	color: #252839;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

.homepageText {											
	color: #5e0231;
	font-family: 'Courgette', cursive;
	font-weight: bold;
}

.homeButton {
	background-color: #5e0231;
}

.subheader {
	color: #c9c9c9;
}


.navbar {
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}

.navBtn {
	margin: 15px 15px 0 0;
}


.homeBtn {
	background-color: #5e0231;
	border-color: #5e0231;
	color: white;
	font-family: 'Courgette', cursive;
	font-weight: bold;
}

.homeBtn:hover {
	background-color: white;
	border-color: #5e0231;
	color: #5e0231;
	font-family: 'Courgette', cursive;
	font-weight: bold;
}




.navbar-fixed-bottom {
    margin-bottom: 0px;
    background-image: image-url('background.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}







.font1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #89bdd3;
	font-weight: bold;
}


.font2 {
	font-family: 'Courgette', cursive;
	font-weight: bold;
	color: #89bdd3;
}

.font3 {
	font-family: 'Lobster Two', cursive;
}


.font4 {
	font-family: 'Droid Sans', sans-serif;
}

.newsfeed1 {
	color: #89bdd3;
}

.newsfeed2 {
	color: #333333;
}






.pageBtn {
	border-color: #89bdd3;
	background: #89bdd3;
	color: white;	
}

.pageBtn:hover {
	background: white;
	border-color: #89bdd3;
	color: #89bdd3;
}


hr {
    height: 1px;
    border-top: 1px solid #89bdd3;
    margin: 1em 0;
}

