// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.homeBtn {
	background-color: rgba(0,0,0,0);
	border-color: white;
	color: white;
}

.homeBtn:hover {
	background-color: white;
	border-color: #5e0231;
	color: #5e0231;
	font-family: 'Courgette', cursive;
	font-weight: bold;
}
